$myfont: Arial, Helvetica, sans-serif;
$myColor: red;
$myFontSize: 18px;
$myWidth: 680px;

body {
    font-family: $myfont;
    font-size: $myFontSize;
    color: $myColor;
}

.container {
    width: $myWidth;
    border: 1px double $myColor;
}

